* {
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: beige;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.tabs-container {
  display: flex;
  margin-bottom: 15px;

  justify-content: space-between;
}

.tab {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 2.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 1s;
  margin: 0 10px;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
}

.tab:hover {
  opacity: 0.8;
}

.tab.tab-active {
  transform: translateY(-15px);
}

.tabs-container .tab-1 {
  background-color: rgb(189, 178, 27);
}
.tabs-container .tab-2 {
  background-color: rgb(182, 148, 38);
}
.tabs-container .tab-3 {
  background-color: rgb(185, 118, 40);
}

.content {
  margin: 15px 5px;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  display: none;
  transition: all 1s;
}

.content.content-active {
  display: block;
  transform: translateY(10px);
}

.content-container .content-1 {
  background-color: rgb(189, 178, 27);
}
.content-container .content-2 {
  background-color: rgb(182, 148, 38);
}
.content-container .content-3 {
  background-color: rgb(185, 118, 40);
}

.content h3 {
  text-align: center;
  color: rgb(46, 46, 28);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content p {
  margin: 10px 10px 15px 15px;
  line-height: 30px;
}
